.react-flow__node-appNode.selected .aura {
  box-shadow:
    4px 0 18px rgba(42, 138, 246, 0.5),
    -4px 0 18px rgba(233, 42, 103, 0.5);
}

.react-flow__node-appNode .aura {
  box-shadow: none;
}

.react-flow__node-appNode .wrapper {
  overflow: hidden;
  padding: 3px;
  margin-left: -3px;
  margin-top: -3px;
  box-sizing: content-box;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.gradient:before {
  content: "";
  position: absolute;
  inset: -50%;
  border-radius: 50%;
  background: conic-gradient(
    from -160deg at 50% 50%,
    #ff2a6d 0deg,      
    #b86bff 120deg,    
    #3a9bff 240deg, 
    #ff2a6d 360deg
  );
  z-index: -1;
}

.react-flow__node-appNode .running.gradient:before {
  content: "";
  background: conic-gradient(
    from -160deg at 50% 50%,
    #ff2a6d00 0deg,
    #ff0044dd 20deg,
    #b86bff 126deg,
    #3a9bffdd 232deg,
    #3a9bff00 340deg
  );
  animation: spinner 4s linear infinite;
  transform: rotate(0deg);
  z-index: -1;
}

@keyframes spinner {
  100% {
    transform: rotate(-360deg);
  }
}

.react-flow__node:focus {
  outline: none;
}

