SSL_CERT_PATH=path_to_cert
SSL_KEY_PATH=path_to_key
# You can modify this to custom frontend deployment URL
FRONTEND_URL=https://web.palmos.ai
# Name of the workspace instance
WORKSPACE_ID=test-workspace
# Port for the server to listen on.
# Default to 6080
SERVER_PORT=6080
