# Server backend URL.
# Note: This environment variable is not intended to be 
# used if you are not developing Pulse Editor's managed services.
NEXT_PUBLIC_BACKEND_URL="<server_backend_url>"

# This is used to distribute module federation modules.
# You can replace this with your own federated apps CDN URL,
# or use Pulse Editor's CDN for extension registry:
# https://cdn.palmos.ai
NEXT_PUBLIC_CDN_URL="https://cdn.palmos.ai"
# This is the Azure Storage container name used to store
# extension registry data. You can replace this with your own
# storage container if you are self-hosting the extension registry.
NEXT_PUBLIC_STORAGE_CONTAINER="extension"
